*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Myriad Pro SemiCond";
}

#open-seasons {
    font-size: 1.1rem;
    .repeating-line-card {
      margin: 1%;
      max-width: 50%;
      text-align: center;
      .season-card-content {
        min-height: 113px;        
      }
    }
}


@font-face {
  font-family: "Myriad Pro SemiCond";
  src: url("../fonts/MyriadPro-SemiCn.otf");
}
