*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Myriad Pro SemiCond";
}

#open-seasons {
    font-size: 1.1rem;
    .repeating-line-card {
      margin: 1%;
      max-width: 50%;
      text-align: center;
      .season-card-content {
        min-height: 113px;        
      }
    }
}
#large-card {
  display: flex;
  flex-wrap: wrap;
  margin: 1%;
  // max-width: 50%;
  font-size: 1.1rem;
  .repeating-line-card {
    text-align: center;
    width: calc(50% - 20px);
    .season-card-content {
      min-height: 200px;
      #large-card-paragraph {
        text-align: justify;
      }
    }
    
  }
}



@font-face {
  font-family: "Myriad Pro SemiCond";
  src: url("../fonts/MyriadPro-SemiCn.otf");
}

@media all and (max-width: 1276px) {
#large-card {
  .repeating-line-card {
    width: 60%;
    .season-card-content {
      min-height: auto;
    }
  }
}
}
@media all and (max-width: 996px) {
  #large-card {
    .repeating-line-card {
      width: 70%;
      .season-card-content {
        min-height: auto;
      }
    }
  }
}

@media all and (max-width: 620px) {
  #large-card {
    .repeating-line-card {
      width: 90%;
      .season-card-content {
        min-height: auto;
      }
    }
  }
}
