*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Myriad Pro SemiCond";
  line-height: 1.2;
}

#contact-content {
  margin-top: 2%;
  margin-left: 1%;
  margin-right: 1%;
  position: relative;
  background: rgba(255, 255, 255, 0.7);


  h5, p, address {
    margin-bottom: 0;
  }

  .contact-dvaras {
    .contact-link {
      text-decoration: none;
      color: #212529;
    }
  }

  #hours {
    .not-work {
      height: 10px;
      width: 10px;
      background-color: rgb(230, 228, 208);
      border-radius: 50%;
      border: 1px solid grey;
      display: inline-block;
      margin-right: 1%;
    }
    .work {
      height: 10px;
      width: 10px;
      background-color: rgb(179, 171, 73);
      border-radius: 50%;
      border: 1px solid grey;
      display: inline-block;
     margin-right: 1%;
    }

    #info {
      line-height: 1.2;
      width: 60%;
      //   margin: auto;
    }
  }
  #map {
    border: 1px solid;
    height: 500px;
    width: 50%;
    margin: auto;
    padding: 0;
  }
}

@media all and (max-width: 992px) {
  #contact-content {
    #hours {
      #info {
        width: 80%;
        margin: auto;
      }
    }
    #map {
      height: 250px;
      width: 90%;
      margin: auto;
    }
  }
}

@media all and (max-width: 768px) {
  #contact-content {
    #hours {
      #info {
      }
    }
  }
}

@font-face {
  font-family: "Myriad Pro SemiCond";
  src: url("../fonts/MyriadPro-SemiCn.otf");
}