*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Myriad Pro SemiCond";
  line-height: 1.2;
}

#excursions-content {
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
  position: relative;
  background: rgba(255, 255, 255, 0.7);
  font-size: 1.2rem;
  h3,
  h4,
  h5 {
    font-weight: 700;
  }
}

@media all and (max-width: 992px) {
  #park-content p {
    font-size: 1.1rem;
  }
  #excursions-content {
    h3 {
      font-size: 1.5rem;
    }
    h4 {
      font-size: 1.4rem;
    }
  }
}

@font-face {
  font-family: "Myriad Pro SemiCond";
  src: url("../fonts/MyriadPro-SemiCn.otf");
}
