*,
*::before,
*::after {
  box-sizing: border-box;
  
}

#footer-container {
  position: relative;
  font-family: "Myriad Pro SemiCond";
  line-height: 1.2;

  .card-footer {
    background: rgba(255, 255, 255, 0.8);

    .d-flex {
      h5, p, address {
        margin: 0;
      }
      .contact-dvaras {
        .contact-link {
          text-decoration: none;
          color: #212529;
        }
        #additional-link {
          text-decoration: none;
          color: rgb(179, 171, 73);
        }
      }
      #map {
        border: 1px solid;
      }
      #hours {
        .not-work {
          height: 10px;
          width: 10px;
          background-color: rgb(230, 228, 208);
          border-radius: 50%;
          border: 1px solid grey;
          display: inline-block;
          margin-right: 1%;
        }
        .work {
          height: 10px;
          width: 10px;
          background-color: rgb(179, 171, 73);
          border-radius: 50%;
          border: 1px solid grey;
          display: inline-block;
          margin-right: 1%;
        }

        #info {
          line-height: 1.2;
        }
      }
    }
  }
}


@media all and (max-width: 768px) {
  .container-xl {
    .card-footer {
      .d-flex {
        .contact-dvaras {
          font-size: 0.9rem;
          h5 {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

@font-face {
  font-family: "Myriad Pro SemiCond";
  src: url("../fonts/MyriadPro-SemiCn.otf");
}