*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Myriad Pro SemiCond";
}

.d-flex {
  .photo {
    max-width: 350px;
    margin: 1%;
    max-height: 150px;
    overflow: hidden;
    position: relative;
    top: 15%;
    display: inline-block;

    #small-photo {
      position: relative;
      bottom: 15%;
    }
  }
}

@font-face {
  font-family: "Myriad Pro SemiCond";
  src: url("../fonts/MyriadPro-SemiCn.otf");
}

@media all and (max-width: 1100px) {
  .d-flex {
    .photo {
      width: calc(33.3333% - 2%);
      max-width: 300px;
      max-height: 150px;
      overflow: hidden;
    }
  }
}

@media all and (max-width: 900px) {
  .d-flex {
    .photo {
      width: calc(50% - 2%);
    }
  }
}

@media all and (max-width: 670px) {
  .d-flex {
    .photo {
      width: calc(100% - 2%);
    }
  }
}
