*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "MyriadPro";
  // color: #465359;
}


// main navigation bar:

#main-nav {
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  .collapse {
    img {
      cursor: pointer;
    }
    .dropdown-menu {
      background: rgba(255, 255, 255, 0.7);
     
    }
  }
}
