*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "MyriadPro";
  // color: #465359;
}

// main navigation bar:

#main-nav {
  background: rgba(255, 255, 255, 0);

  .navbar-toggler {
    background: rgba(255, 255, 255, 0.7);
  }


}
