*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Myriad Pro SemiCond";
  line-height: 1.2;
}

@font-face {
    font-family: "Myriad Pro SemiCond";
    src: url("../fonts/MyriadPro-SemiCn.otf");
  }

  #map-content {
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
    position: relative;
    background: rgba(255, 255, 255, 0.8);

    img {
        width: 80%;
    }
    #pdf-link {
        font-size: 1.2rem;
        color: rgb(126, 122, 75);
        padding-bottom: 1%;
    }
  }