*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Myriad Pro SemiCond";
}

.width-class {
    width: 100%;
}

#carouselExampleFade {
text-align: center;
margin: 0 auto;

.carousel-item {
    img {
        margin: 0 auto;
        padding: 1%;
        border: 3px solid grey;
    }
}
}
@font-face {
  font-family: "Myriad Pro SemiCond";
  src: url("../fonts/MyriadPro-SemiCn.otf");
}

