* {
  margin: 0;
  padding: 0;
  border: 0;
}

.slideshow {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.slideshow-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background: no-repeat 50% 50%;
  background-size: cover;
  animation-name: kenburns;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 36s;
  opacity: 1;
  transform: scale(1.4);
}
.slideshow-image:nth-child(1) {
  animation-name: kenburns-1;
  z-index: 1;
}
.slideshow-image:nth-child(2) {
  animation-name: kenburns-2;
  z-index: 0;
}

@keyframes kenburns-1 {
  0% {
    opacity: 1;
    transform: scale(1.4);
  }
  1.25% {
    opacity: 1;
  }
  48.75% {
    opacity: 1;
  }
  51.25% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.4);
  }
  98.75% {
    opacity: 0;
    transform: scale(1.4097560976);
  }
  100% {
    opacity: 1;
  }
}
@keyframes kenburns-2 {
  48.75% {
    opacity: 1;
    transform: scale(1.4);
  }
  51.25% {
    opacity: 1;
  }
  98.75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
.jumbotron .card {
  background: rgba(255, 255, 255, 0.7);
  font-family: "Work Sans", sans-serif;
  color: #465359;
  margin-left: 2%;
  margin-right: 2%;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  cursor: pointer;
}
.jumbotron .card .p-2 {
  position: relative;
}
.jumbotron .card .p-2 a {
  position: absolute;
  left: 2%;
  top: 88%;
  color: #465359;
}
.jumbotron .card .card-title {
  font-size: 2.5em;
}
.jumbotron .card:hover {
  margin-left: 1%;
  margin-right: 1%;
}
.jumbotron .btn-light {
  background-color: rgba(255, 255, 255, 0.7);
  height: 50px;
  border: none;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  cursor: pointer;
}
.jumbotron .btn-light img {
  width: 100px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  cursor: pointer;
}
.jumbotron .btn-light:hover {
  background: rgba(255, 255, 255, 0.9);
}
.jumbotron .btn-light:hover img:hover {
  width: 120px;
}

.text-center {
  margin-left: 1%;
  margin-right: 1%;
  background: rgba(255, 255, 255, 0.7);
  position: relative;
}
.text-center .row {
  padding: 2%;
}
.text-center .not-show {
  display: none;
}
.text-center .show {
  display: block;
}

#btn-dark {
  background: rgba(255, 255, 255, 0);
}
#btn-dark .btn {
  background: rgba(255, 255, 255, 0.7);
}
#btn-dark .toggle-news {
  background: rgba(206, 198, 198, 0.7);
}

@media all and (max-width: 1290px) {
  .text-center .row .col-md-6 .text-justify h2 {
    font-size: 1.4rem;
  }
  .text-center .row .col-md-6 .text-justify p {
    font-size: 0.8rem;
  }
}
@media all and (max-width: 1200px) {
  .jumbotron .card .p-2 a {
    font-size: 1rem;
  }
  .jumbotron .card .card-title {
    font-size: 2rem;
  }

  .text-center h2 {
    font-size: 1.3rem;
  }
}
@media all and (max-width: 1150px) {
  .jumbotron .card .p-2 a {
    top: 97%;
    font-size: 0.8rem;
  }
}
@media all and (max-width: 995px) {
  .text-center {
    margin-left: 6%;
    margin-right: 6%;
  }
}
@media all and (max-width: 350px) {
  .jumbotron img {
    text-align: center;
  }

  .text-center {
    padding-left: 2%;
    padding-right: 2%;
  }
}

/*# sourceMappingURL=style.css.map */
