*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Myriad Pro SemiCond";
  line-height: 1.2;
}

.slideshow {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.slideshow-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background: no-repeat 50% 50%;
  background-size: cover;
  animation-name: kenburns;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 36s;
  opacity: 1;
  transform: scale(1.4);
}
.slideshow-image:nth-child(1) {
  animation-name: kenburns-1;
  z-index: 1;
}
.slideshow-image:nth-child(2) {
  animation-name: kenburns-2;
  z-index: 0;
}

@keyframes kenburns-1 {
  0% {
    opacity: 1;
    transform: scale(1.4);
  }
  1.25% {
    opacity: 1;
  }
  48.75% {
    opacity: 1;
  }
  51.25% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.4);
  }
  98.75% {
    opacity: 0;
    transform: scale(1.4097560976);
  }
  100% {
    opacity: 1;
  }
}
@keyframes kenburns-2 {
  48.75% {
    opacity: 1;
    transform: scale(1.4);
  }
  51.25% {
    opacity: 1;
  }
  98.75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
.jumbotron .card {
  background: rgba(255, 255, 255, 0.7);
  color: #465359;
  margin-left: 2%;
  margin-right: 2%;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  cursor: pointer;
}
.jumbotron .card .p-2 {
  position: relative;
}
.jumbotron .card .card-title {
  font-size: 2.5em;
  font-weight: 400;
}
.jumbotron .card #header-link-to-shop {
  text-decoration: none;
  color: #465359;
}
.jumbotron .card:hover {
  margin-left: 1.5%;
  margin-right: 1.5%;
}
.jumbotron .btn-light {
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  cursor: pointer;
}
.jumbotron .btn-light img {
  width: 120px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  cursor: pointer;
}
.jumbotron .btn-light:hover {
  background: rgba(179, 171, 73, 0.7);
}
.jumbotron .btn-light:hover img:hover {
  width: 122px;
}

section .text-center h4 {
  font-weight: 700;
}
section .text-center .row {
  font-size: 0.75rem;
}
section .text-center .row img {
  width: fit-content;
  box-shadow: 4px 0px 4px rgba(82, 80, 80, 0.7);
}

.text-center {
  margin-left: 1%;
  margin-right: 1%;
  background: rgba(255, 255, 255, 0.7);
  position: relative;
}
.text-center h1 {
  font-weight: 700;
}
.text-center .row {
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 2%;
  padding-bottom: 2%;
}
.text-center .row #news-image {
  width: 100%;
}
.text-center .row a {
  text-decoration: none;
  color: #212529;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.text-center .row a h2 {
  font-weight: 700;
}
.text-center .row a:hover {
  color: #b3ab49;
}
.text-center .row p {
  font-size: 1.2rem;
}
.text-center .row p a {
  color: #b3ab49;
}
.text-center .not-show {
  display: none;
}

#btn-dark {
  background: rgba(255, 255, 255, 0);
}
#btn-dark .btn {
  background: rgba(255, 255, 255, 0.7);
}
#btn-dark .btn:hover {
  background: rgba(179, 171, 73, 0.7);
}

@media all and (max-width: 1290px) {
  .text-center .row .col-md-6 .text-justify h2 {
    font-size: 1.4rem;
  }
  .text-center .row .col-md-6 .text-justify p {
    font-size: 1rem;
  }
}
@media all and (max-width: 1200px) {
  .jumbotron .card .p-2 a {
    font-size: 1rem;
  }
  .jumbotron .card .card-title {
    font-size: 2rem;
  }

  .text-center .row h2 {
    font-size: 1.3rem;
  }
  .text-center .row p {
    font-size: 1rem;
  }
}
@media all and (max-width: 1150px) {
  .jumbotron .card .p-2 a {
    top: 97%;
    font-size: 0.8rem;
  }
}
@media all and (max-width: 995px) {
  .text-center {
    margin-left: 1%;
    margin-right: 1%;
  }
  .text-center h1 {
    font-size: 1.7rem;
  }
  .text-center .row #news-image {
    width: 80%;
  }

  section .text-center .row {
    font-size: 0.6rem;
  }
}
@media all and (max-width: 350px) {
  .jumbotron img {
    text-align: center;
  }

  .text-center {
    padding-left: 2%;
    padding-right: 2%;
  }
}
@font-face {
  font-family: "Myriad Pro SemiCond";
  src: url("../fonts/MyriadPro-SemiCn.otf");
}

/*# sourceMappingURL=style.css.map */
